ggml_weights/*
ggml_weights_q4/*
ggml_weights_q5/*
ggml_weights_q8/*
*.dSYM/
build/
models/

bark
encodec
main
toy
quantize

*.o
*.plist
*.wav

.DS_Store

!ggml_weights/ggml_vocab.bin
!ggml_weights/vocab.txt

tests/test-text-encoder
tests/test-coarse-encoder
tests/test-fine-encoder

tests/test-forward-coarse
tests/test-forward-semantic
tests/test-forward-fine
tests/test-forward-encodec

tests/test-tokenizer
