*.o
*.a
*.so
.DS_Store
*.swp
.build/
build/
.cache/
*.dSYM/
.direnv/
.envrc
.swiftpm
.venv
.clang-tidy
.vs/
.vscode/

ggml_weights/*
ggml_weights_*/*
models/

build-info.h

bark
encodec
main
toy
quantize
ggml

*.plist
*.wav

!ggml_weights/ggml_vocab.bin
!ggml_weights/vocab.txt

tests/test-gpt-eval
tests/test-fine-gpt-eval

tests/test-forward-coarse
tests/test-forward-semantic
tests/test-forward-fine
tests/test-forward-encodec

tests/test-tokenizer
