ggml_weights/*
*.dSYM/
build/

bark
encodec
main

*.o
*.plist

.DS_Store

!ggml_weights/ggml_vocab.bin

tests/test-text-encoder
tests/test-coarse-encoder
tests/test-fine-encoder

tests/test-forward-coarse
tests/test-forward-semantic
tests/test-forward-fine

tests/test-tokenizer
